
th{
    background-color: #231f20;
    color: #efefef;
    border: 1px solid #ff5001;
    padding: 10px;
}
td{
    background-color: #231f20;
    color: #efefef;
    border: 1px solid #ff5001;
    padding: 10px;
}